/**
 * music-discoverer specific styles
 * (Override tactile_screen.css)
 */

h1 {
	font-size: 30px;
	padding-bottom: 10px;
}

p {
	margin-bottom: 10px;
}

hr {
	padding-bottom: .5em;
}

a.button {
	padding: 6px 8px 6px 8px;
	font-size: 13px;
	font-weight: bold;
}

a.button:hover {
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,  #fcfcfc 0%,#e6e6e6, 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	border-top: solid 1px #b3b3b3;
	border-right: solid 1px #9a9a9a;
	border-bottom: solid 1px #9a9a9a;
	border-left: solid 1px #9a9a9a;
	color: #c5000c;
	text-decoration: none;
}

a.button span {
	height: initial;
	padding-left: 0px;
}

ul li {
  list-style: none;
  padding-left: 0px;
}

form {
	padding: 0px;
	background: none;
}

input:focus {
	outline: none;
	border: 1px inset #52F6FF;
}

footer a:visited {
	color: #666;
	text-decoration: none;
}

footer a:hover {
	color: #c5000c;
	text-decoration: none;
}

footer a:active {
	color: #666;
	text-decoration: none;
}

.button {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

.button.thumb-btn {
	width: 275px;
	margin-bottom: 14px;
	padding: 20px 8px 30px 8px;
	text-align: center;
}

.button.featured-btn {
	width: 275px;
	margin-bottom: 14px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	border-radius: 4px;
}

.btn.btn-default.button.search {
	margin-right: 0px;
	width: auto;
	font-size: 14px;
}

.btn.btn-default.button.search.sm {
	margin-right: 1px;
	margin-bottom: 1px;
	font-size: 12px;
}

.input-search {
	width: 100%;
	margin-bottom: 15px;
	border: 1px inset #e7e7e7;
	border-radius: 5px;
	padding: 16px;
	background-color: black;
	color: #e7e7e7;
}

.input-validation {
	margin-top: 0px;
	margin-bottom: 15px;
	color: #d5000d;
	font-size: 13px;
	font-style: italic;
}

.thumb-img {
	height: 200px;
	width: 225px;
	border: 2px inset #e7e7e7;
	background-color: black;
	font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: white;
}

.featured-img {
	height: 275px;
	width: 275px;
	border: 1px solid #e7e7e7;
	vertical-align: middle;
	background-color: black;
	font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: white;
}

.results-placeholder {
	padding-top: 5px;
}

.tooltip.top .tooltip-inner {
	background-color: #c5000c;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #c5000c;
}

.carousel {
	margin-bottom: 36px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	margin-top: -20px;
}

.carousel-control.left {
	background-image: none;
	color: inherit;
	margin-left: -25px;
}

.carousel-control.right {
	background-image: none;
	color: inherit;
	margin-right: -5px;
}

.carousel-indicators {
	bottom: -60px;
	margin-left: -31.5%;
	left: 40%;
	width: 80%;
}

.carousel-indicators li {
	height: 13px;
	width: 13px;
	border: 1px solid #b7b7b7;
}

.carousel-indicators  li:hover {
	border: 1px solid inherit;
}

.carousel-indicators .active {
	height: 15px;
	width: 15px;
	background-color: inherit;
}

/* To work around side effect of clicking quickly
   on carousel causes it to look "selected";
   could use this elsewhere if needed */
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.instructions {
	margin-bottom: 8px;
	font-size: smaller;
	font-style: italic;
}

#downloads {
	margin-bottom: 25px;
}

#downloads a.button span {
	padding-left: 55px;
}

#view-on-github {
	margin-right: 14px;
}

#download-tar-gz {
	margin-right: 0;
}

#musician-associates h2 {
	margin-top: 21px;
}

#musician-extended-associates h2 {
	margin-top: 9px;
	margin-bottom: 4px;
}

/* css for youtube elements
================================================== */


/* css for d3 force graph elements
================================================== */
text {
	pointer-events: none;
	font: 10px sans-serif;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.node.fixed {
	fill: #f00;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}


/* #Media Queries
================================================== */

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	header h1 {
		font-size: 36px; font-weight: 900;
		line-height: 1.2;
		letter-spacing: -1px;
	}

	header h2 {
		font-size: 19px;
		line-height: 1;
	}

	h1 {
		padding-bottom: 1px;
	}

	footer {
		font-size: 11px;
	}

	hr {
		padding-bottom: 1px;
	}

	a.button.featured-btn {
		margin-right: 0px;
	}

	a.button.thumb-btn {
		margin-right: 0px;
	}

	.carousel-control.left {
		margin-left: -20px;
	}

	.carousel-control.right {
		margin-right: 0px;
	}

	.instructions {
		font-size: small;
	}

	#downloads {
		margin-bottom: 20px;
	}

	#view-on-github {
		margin: 0 auto;
		float: none;
	}
}

