/**
 * music-discoverer specific styles
 * (Override tactile_screen.css)
 */
h1 {
	font-size: 30px;
}

hr {
	padding-bottom: .5em;
}

a.button {
	padding: 6px 8px 6px 8px;
	font-size: 13px;
	font-weight: bold;
}

a.button span {
	height: initial;
	padding-left: 0px;
}

ul li {
  list-style: none;
  padding-left: 0px;
}

form {
	padding: 0px;
	background: none;
}

input:focus {
	outline: none;
	border: 1px inset #52F6FF;
}

.button {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

.button.thumb-btn {
	width: 275px;
	margin-bottom: 14px;
	padding: 20px 8px 20px 8px;
	text-align: center;
}

.btn.btn-default.button.search {
	margin-right: 0px;
	width: auto;
	font-size: 14px;
}



.input-search {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px inset #e7e7e7;
	border-radius: 5px;
	padding: 16px;
	background-color: black;
	color: #e7e7e7;
}

.input-validation {
	margin-top: 0px;
	margin-bottom: 15px;
	color: #d5000d;
	font-size: 13px;
	font-style: italic;
}

.results-img {
	height: 200px;
	width: 200px;
}

#downloads {
	margin-bottom: 25px;
}

#downloads a.button span {
	padding-left: 55px;
}

#view-on-github {
	margin-right: 14px;
}

#download-tar-gz {
	margin-right: 0;
}

/* #Media Queries
================================================== */

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	header h1 {
		font-size: 36px; font-weight: 900;
		line-height: 1.2;
		letter-spacing: -1px;
	}

	header h2 {
		font-size: 19px;
		line-height: 1;
	}

	footer {
		font-size: 11px;
	}

	hr {
		padding-bottom: 1px;
	}

	#downloads {
		margin-bottom: 20px;
	}

	#view-on-github {
		margin: 0 auto;
		float: none;
	}
}

