/**
 * music-discoverer specific styles
 */
.button {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

#view-on-github {
  margin-right: 14px;
}

#download-tar-gz {
  margin-right: 0;
}

.waiting {
  cursor: wait;
}