<ng-include src="'views/include_new_search.html'"></ng-include>
<h1>{{ controllerData.headerKey }}</h1>
<div>
	<img ng-src="{{ dbpResults[0].thumbnail.value }}" >
	<span>{{ dbpResults[0].resource_label.value }}</span>
	<span>{{ dbpResults[0].comment.value }}</span>
</div>
<div ng-repeat="result in dbpResults">
	<a ng-controller="SearchController" ng-click="random('genre', result.genre_resource.value)">
		<span>{{ result.genre_resource.value }}</span>
		<span>{{ result.genre_label.value }}</span>
	</a>
</div>
