<h1>search</h1>

<section id="search">

	<form name="searchForm" novalidate>
		<div>
			<input class="input-search" 
			    type="search"
				name="searchKeywords"
				alt="search"
				ng-model="searchKeywords"
				required
				placeholder="search for musician or band ..."
				ng-pattern="/^[a-zA-Z0-9\s]*$/"
				ng-keyup="$event.keyCode == 13 && searchForm.searchKeywords.$valid && search(searchKeywords)" />
			<div class="input-validation" ng-show="(searchForm.searchKeywords.$dirty || searchButtonClicked) && (searchForm.searchKeywords.$error.required || searchForm.searchKeywords.$invalid)">
				<span>enter musician or band name.<br>letters, numbers and spaces allowed.</span>
			</div>
		</div>
	</form>

	<div class="text-center">
		<div class="btn-group">
			<a class="btn btn-default button search" id="searchButton" ng-click="searchButtonClicked=true; searchForm.searchKeywords.$valid && search(searchKeywords)" >
				<span><i class="fa fa-search fa-lg"></i> search</span>
			</a>
			<a class="btn btn-default button search" ng-click="random('id','')">
				<span><i class="fa fa-gift fa-lg"></i> surprise me</span>
			</a>
		</div>
	</div>

	<md-results-placeholder mdresplaceholder="waitingForResponse?'show':'hide'"></md-results-placeholder>

</section>


