<ng-include src="'app/includes/include_new_search.html'"></ng-include>
<h1>{{ dbpResultsMusician[0].resource_label.value.length > 0 ? dbpResultsMusician[0].resource_label.value : 'musician details'}}</h1>
<md-results-placeholder mdresplaceholder="dbpResultsMusician"></md-results-placeholder>

<section id="musician">
	<div class="row">
		<div class="col-md-6">
			<div>
				<md-featured-img mdfeaturedobj="dbpResultsMusician[0]"></md-featured-img>
			</div>
		</div>
		<!-- Clearfix so comment text doesn't wrap awkwardly in xs small viewports e.g. iphone 6-->
		<div class="clearfix visible-xs"></div>
		<div class="col-md-6">
			<div>
				<p>{{ dbpResultsMusician[0].comment.value }}</p>
				<div ng-repeat="musician in dbpResultsMusician">
					<a class="btn btn-default button search sm" ng-controller="SearchController" ng-if="musician.genre_label.value.length > 0" data-toggle="tooltip" data-placement="auto" title="Show me another {{ musician.genre_label.value }} musician" ng-click="random('genre', musician.genre_resource.value)" md-tooltip>
						<span>{{ musician.genre_label.value }}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="no-select" id="musician-associates" ng-if="dbpResultsAssociates.length > 0">
	<div class="row">
		<div class="col-md-12">
			<h2>associated musicians</h2>
			<carousel>
				<slide ng-repeat="associate in dbpResultsAssociates" active="dbpResultsAssociates[$index].active">
					<md-thumb-img mdthumbobj="dbpResultsAssociates[$index+0]"></md-thumb-img>
					<md-thumb-img mdthumbobj="dbpResultsAssociates[$index+1]" ng-if="dbpResultsAssociates[$index+1]"></md-thumb-img>
				</slide>
			</carousel>
		</div>
	</div>
</section>

<section id="musician-extended-associates" ng-if="dbpResultsAssociates.length > 0">
	<div class="row">
		<div class="col-md-12">
			<h2>extended associations</h2>
			<md-d3-force-graph mdassocobj="dbpResultsAssociatesInclFeatured"></md-d3-force-graph>
		</div>
	</div>
</section>
